.exportDisplay {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}


@media screen and (max-width: 600px) {
    .exportDisplay {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        flex-direction: column wrap;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    
}