
.emptyCell {
  padding: 0.5rem;
  border-color: red;
  border-width:medium;
  border-style:solid;
}

.fullCell {
  text-align: center;
  border-left: grey;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem;

}

.tformat {
  border-collapse: collapse;
  min-width: 70vw;
  
}

.fullCell p{
  min-height: 30px;
  min-width: 30px;
}


