
/* .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  } */
  
  .modalMain {
    padding: 1rem;

  }
  
  /* .displayBlock {
    display: block;
    padding: 1%;
  }
  
  .displayNone {
    display: none;
  } */
  .display-none {
    display: none;
  }
